body {
    text-align: center;
}

h1 {
    font-family: "OleoScript", papyrus;
}

button[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.result {
  font-weight: bold;
  margin-top: 40px;
}
